@use "sass:math";

@function rem($pixels, $context: 16) {
	@return (math.div($pixels, $context)) * 1rem;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400&display=swap");
@import "nullstyle.scss";
@import "variables";
@font-face {
	font-family: "Impact", sans-serif;
	src: url("../fonts/Impact.woff");
}
body,
html {
	color: $black;
	font-size: 14px;
	line-height: 1.2;
	font-weight: 400;
	font-family: "Roboto condensed", sans-serif;
	height: 100%;
	font-weight: 400;
	overflow-x: hidden;
	position: relative;
}
img{
	max-width: 100%;
}
.big-container {
	max-width: 1220px;
	margin: 0 auto;
	padding: 0 10px;
}
.container {
	max-width: 920px;
	margin: 0 auto;
	padding: 0 10px;
}
.invisible {
	display: none;
}
.btn {
}
// ---------------
.header {
	padding-top: 25px;
	position: absolute;
	left: 0;
	right: 0;
	background: linear-gradient(180deg, #d8d4ca 0%, rgba(217, 217, 217, 0) 100%);
}
.nav {
	display: flex;
	justify-content: space-between;
}
.menu-list {
	display: flex;
	gap: 0 40px;
	padding-top: 25px;
}
.menu-left {
	padding-left: 25px;
}
.menu-right {
	line-height: 1;
	padding-right: 74px;
}
.menu-link {
	color: $grey;
	font-size: 16px;
}

.menu{

@media screen and (max-width: 992px) {
	position: fixed;
	background: #000;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100vw;
	display: none;

	&.active {
		display: flex;
		left: 0;
		top: 0;
		height: 100vh;
		width: 100vw;
		flex-direction: column;
		pointer-events: all;
		justify-content: center;
		align-items: center;
		z-index: 2;
		animation: fade 0.1s linear;
	}
}
}

.promo {
	background-image: url("../img/promo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	&__inner {
		margin-left: 10px;
		padding-top: 99px;
		min-height: 100vh;
		text-align: center;
		font-family: "Impact", sans-serif;
		display: flex;
		flex-direction: column;
	}
}
.title {
	font-weight: 400;
	font-size: 76px;
	letter-spacing: 0.02em;
}
.subtitle {
	font-weight: 400;
	font-size: 48px;
	border-bottom: 1px solid $black;
	align-self: center;
	span {
		display: block;
		font-size: 34px;
		color: $gold;
		padding: 7px 0 4px 0;
	}
}
.promo__text {
	margin-top: 9px;
	margin-left: 1px;
	font-family: "Roboto condensed", sans-serif;
	font-size: 16px;
	line-height: 1.2;
	color: $black;
}
.promo__arrow {
	margin-bottom: 30px;
	margin-top: auto;
	align-self: center;
}
.info {
	margin-bottom: 100px;
	&__part {
		padding-top: 100px;
		display: flex;
		justify-content: space-between;
	}
	&__part--first {
		display: block;
	}
	&__part--second {
		.info__text {
			max-width: 352px;
		}
	}
	&__part--third {
		padding-top: 66px;
		.info__text {
			max-width: 377px;
		}
	}

	&__title {
		text-transform: uppercase;
		margin-bottom: 30px;
		font-size: 32px;
		font-weight: 300;
	}

	&__part-textbox {
		display: flex;
		justify-content: space-between;
		gap: 0 20px;
	}

	&__text {
		flex-basis: 440px;
		margin-bottom: 30px;
	}

	&__part-img {
		object-fit: cover;
	}

	&__content {
		flex-basis: 415px;
	}

	&__table {
		flex-basis: 450px;
		position: relative;
		top: 20px;
		&::before {
			border-top: 1px solid $black;
			position: absolute;
			content: "";
			width: 100%;
			top: -20px;
		}
		border-bottom: 1px solid $black;
		td {
			padding-bottom: 20px;
		}
	}
}
.track {
	&__inner {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}
	&__title {
		font-size: 32px;
		padding-bottom: 30px;
		font-weight: 300;
		padding-top: 50px;
	}
	&__text {
		max-width: 435px;
	}
	&__img {
		margin: auto auto 90px;
	}
	background: url("../img/track-bg.jpg") center center / cover no-repeat;
}

.evo {
	font-size: 14px;
	margin-bottom: 100px;
	&__descr-list {
		display: flex;
		justify-content: center;
		gap: 0 65px;
		dd {
			text-transform: uppercase;
		}
	}
}
.evo-black {
	background-color: $grey;
	padding: 100px 0 50px;
	color: $white;
	&__inner {
		position: relative;
		&:before {
			content: "";
			position: absolute;
			background: url("../img/dec-1.svg");
			width: 185px;
			height: 213px;
			top: 217px;
			left: -130px;
		}
		&:after {
			content: "";
			position: absolute;
			background: url("../img/dec-2.svg");
			width: 498px;
			height: 572px;
			top: 290px;
			left: -40px;
		}
	}

	&__info {
		display: flex;
		justify-content: space-between;
	}

	&__title {
		text-transform: uppercase;
		font-weight: 300;
		font-size: 32px;
		padding-right: 50px;
	}

	&__infobox {
		flex-basis: 437px;
	}

	&__text {
		margin-bottom: 30px;
	}

	&__img {
		display: block;
		margin: 170px auto 60px;
		position: relative;
		z-index: 1;
	}
}

.evo-white {
	&__inner {
		padding-top: 125px;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			background: url("../img/dec-3.png");
			width: 274px;
			height: 257px;
			top: -40px;
			left: 358px;
		}
		&::after {
			content: "";
			position: absolute;
			background: url("../img/dec-4.png");
			width: 324px;
			height: 311px;
			top: 115px;
			left: 600px;
		}
	}

	&__text {
		margin-bottom: 30px;
		&:first-child {
			max-width: 285px;
		}
		&:nth-child(2) {
			max-width: 437px;
		}
		&:nth-child(3) {
			max-width: 590px;
		}
	}

	&__video {
		margin-top: 100px;
		background: url("../img/evo-video.png") center / cover no-repeat;
		height: 264px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	&__video-link {
		span {
			display: block;
			color: $white;
		}
	}
}

.blog {
	&__title {
		font-size: 32px;
		font-weight: 300;
		text-transform: uppercase;
		margin-bottom: 30px;
	}

	&__slider {
	}
	&__item {
	}

	&__item-img {
		margin-bottom: 20px;
	}

	&__item-title {
		font-size: 20px;
		font-weight: 400;
		text-transform: uppercase;
		margin-bottom: 10px;
		min-height: 46px;
	}

	&__item-text {
		margin-bottom: 10px;
	}

	&__item-link {
		color: $grey;
		font-size: 12px;
	}
	&__button {
		position: absolute;
		top: 0px;
		cursor: pointer;
		left: 50%;
	}
}
.swiper {
	position: relative;
	padding-top: 50px;
	margin-bottom: 50px;
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper-button-left {
	transform: translateX(-41px);
}
.swiper-button-right {
	transform: translateX(10px);
}

.blog {
	&__quote {
		display: flex;
		justify-content: space-between;
		gap: 0 20px;
	}

	&__quote-box {
		flex-basis: 434px;
	}
}

.blockquote {
	margin-bottom: 30px;
	&__name {
		margin-bottom: 20px;
		font-weight: 700;
		span {
			font-weight: 400;
			display: block;
			color: $gold;
			font-size: 12px;
			margin-bottom: 3px;
		}
	}

	&__text {
		margin-top: 10px;
		font-style: italic;
	}
}

.footer {
	padding: 100px 0 80px;
	background-color: $grey;
	color: $white;
	&__title {
		text-transform: uppercase;
		margin-bottom: 50px;
		font-size: 32px;
	}

	&__top {
		display: flex;
		justify-content: space-between;
		gap: 0 20px;
	}

	&__info {
	}
	&__info-item {
		margin-bottom: 40px;
		dt {
			margin-bottom: 20px;
			text-transform: uppercase;
			font-weight: 700;
		}
		dd {
			margin-bottom: 10px;
		}
	}

	&__address {
		flex-basis: 462px;
	}

	&__address-title {
		margin-bottom: 20px;
		text-transform: uppercase;
		font-weight: 700;
	}

	&__address-text {
		font-size: 16px;
		margin-bottom: 20px;
	}

	&__bot {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__bottom-author {
	}

	&__logo {
	}

	&__logo-img {
	}

	&__bottom-copy {
	}
}
.social-list {
	display: flex;
	gap: 0 20px;
	align-items: center;
	&__item {
	}

	&__link {
	}
}
#map {
	height: 250px;
}

@media(max-width: 1100px){
	.promo{
		background-position: left center;
	}
}


@media screen and (max-width: 992px) {
	.menu-list{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 25px;
		padding: 0;
	}
	.menu-left{
		padding-bottom: 50px;
	}
	.menu-right{
		padding-top: 50px;
	}
	.menu-link {
		color: #fff !important;
	}
}
// ========================= [ Burger styles ] =========================
.burger {
	display: none;
	background: transparent;
	z-index: 3;
	@media screen and (max-width: 992px) {
		display: flex;
		position: relative;
		height: 20px;
		width: 30px;
		&.active {
			&:before {
				background: #fff;
				transform: rotate(45deg);
				transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
				top: 8px;
			}
	
			&:after {
				background: #fff;
				transform: rotate(-45deg);
				bottom: 10px;
				transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
			}
	
			& span {
				transform: scale(0);
			}
		}
	
		&:before,
		&:after {
			content: '';
			position: absolute;
			height: 2px;
			width: 100%;
			background: #fff;
			transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
		}
	
		&:before {
			top: 0;
		}
	
		&::after {
			bottom: 0;
		}
	
		span {
			position: absolute;
			top: 9px;
			right: 0;
			width: 100%;
			background: #fff;
			height: 2px;
			transform: scale(1);
			transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
		}
	}
}

@media screen and (max-width: 969px) {
	.evo-white__inner::after{
		display: none;
	}
}
@media screen and (max-width: 840px) {
	.info__part-textbox{
		display: block;
		padding-bottom: 15px;
	}
	.info__part{
		display: block;
	}
	.info__part--second .info__text,
	.info__part--third .info__text{
		max-width: 100%;
	}
	.info__table{
		width: 100%;
	}
	.info__part-img{
		width: 100%;
	}
}
@media screen and (max-width: 768px) {
	.blog__quote{
		flex-direction: column;
	}
	.blog__quote-box{
		flex-basis: auto;
	}
	.blog__item-img{
		width: 100%;
	}
}
@media screen and (max-width: 669px) {
	.evo-white__inner::before{
		display: none;
	}
	.evo__descr-list{
		display: block;
		text-align: center;
	}
	.evo__descr-list div{
		margin-bottom: 15px;
	}
	.evo-black__info{
		display: block;
	}
	.evo-black__title{
		margin-bottom: 20px;
	}
	.footer__top{
		display: block;
	}
}
@media screen and (max-width: 560px) {
	.title{
		font-size: 48px;
	}
	.subtitle{
		font-size: 34px;
	}
	.subtitle span{
		font-size: 26px;
	}
	.info__table td:nth-child(2){
		padding-left: 5px;
		padding-right: 5px;
	}
	.evo-black__inner::after{
		display: none;
	}
}

@media (max-width: 480px) {
	.footer__bot{
		display: block;
		text-align: center;
	}
	.footer__logo{
		padding: 20px 0;
		display: block;
	}
}

@media (max-width: 340px) {
	.title{
		font-size: 42px;
	}
	.subtitle{
		font-size: 30px;
	}
}